---
layout: default
title: GitLab Hackathon
description: "Join the community, hack on GitLab and win prizes!"
canonical_path: "/community/hackathon/"
suppress_header: true
twitter_image: '/images/opengraph/hackathon-generic-card.png'
extra_css:
  - contributing.css
  - styles-2018.css
extra_js:
  - countdown.js
  - hackathon.js
---
-# Schema.org structured data. 
:erb
  <script type="application/ld+json">
  {
  "@context": "https://schema.org",
  "@type": "Hackathon",
  "name": "GitLab Hackathon",
  "description": "Get together with the GitLab community to contribute, learn and win exciting prizes.",
  "organizer" : "GitLab",
  "startDate": "2021-06-02",
  "endDate": "2021-06-03",
  "eventStatus": "https://schema.org/EventScheduled",
  "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
  "location": {
    "@type": "VirtualLocation",
    "url": "https://about.gitlab.com/community/hackathon/"
  }
  }
  </script>
  
.wrapper
  .simple-hero
    .container
      .row
        .col-md-8.col-md-offset-2.hero-image
          = partial "includes/icons/hackathon-header.svg"

      .row
        %h1 GitLab Hackathon

      .row
        .col-md-6.col-md-offset-3
          :markdown
            Get together with the GitLab community to contribute, learn and win exciting prizes.
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            Join us on June 2nd - June 3rd, 2021!
            <i class="fab fa-gitlab fa-fw" style="color:rgb(252,109,38); font-size:.85em" aria-hidden="true"></i>
            <br/><br/>
            <span class="h3" id="nextHackathonCountdown">
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(255,255,255)); font-size:.85em" aria-hidden="true"></i>
            </span>

  #content
    .wrapper.container.contributing-content{role: "main"}            
      .block
        .block-content
          %p.alert.alert-gitlab-purple.text-center
            %span.h3 <a href="https://about.gitlab.com/community/hackathon/winners/">Announcing Q1 2021 GitLab Hackaton Winners</a>
      .block
        .block-content
          %h2.block-title Joining in
          :markdown
            The Hackathon is a virtual event open to anyone who is interested in contributing code, documentation, translations, UX designs and more to GitLab. Prizes are awarded to participants for having Merge Requests (MRs) merged and there may also be special award categories at each Hackathon.
            
            For this Hackathon we are introducing a point system based on which the winners will be decided.
            <br>Specifically: 
            <br> - 1 point for any MR merged that is not associated with an open/existing issue 
            <br> - 2 points, for [each MR merged that is associated/closing an open/existing issue](https://about.gitlab.com/community/contribute/development/)
            <br> - 5 points, for each MR merged that is associated/closing one of the following issues:

            | Project/group | Language/Technologies | Guides | Qualifying (for 5 points) Issues |
            |---------------|-----------------------|--------|----------------------------------|
            | Design | [Figma](https://www.figma.com/)  | [How to contribute to UX](https://about.gitlab.com/community/contribute/ux-design/) | [Design Issues](https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/hackathon/-/issues/52#note_579819563) |
            | Engineering  | Ruby on Rails, JavaScript, Vue, Haml, RSpec |  [Contributing to GitLab guide](https://about.gitlab.com/community/contribute/development/#development)| - [GitLab UI stories - Javascript](https://gitlab.com/groups/gitlab-org/-/epics/5651) <br> - [Productivity engineering issues](https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/hackathon/-/issues/52#note_579632182), <br> - [Global Search group issues](https://gitlab.com/gitlab-com/marketing/community-relations/contributor-program/hackathon/-/issues/52#note_578663860) <br> - [Package Group issues](https://gitlab.com/groups/gitlab-org/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name%5B%5D=devops%3A%3Apackage&label_name%5B%5D=good%20for%20new%20contributors) <br> - [Continious Intergration group issues](https://gitlab.com/gitlab-org/gitlab/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name%5B%5D=good%20for%20new%20contributors&label_name%5B%5D=group%3A%3Acontinuous%20integration) | 
            | Various GitLab projects | Ruby on Rails, JavaScript, Vue, Haml, RSpec  | [Contributing to GitLab guide](https://about.gitlab.com/community/contribute/development/#development) | - [Simple Javascript frontend issues](https://gitlab.com/groups/gitlab-org/-/epics/5623) <br> - [Migrating GitLab UI stories simple Javascript issues](https://gitlab.com/groups/gitlab-org/-/epics/5651) <br> - [Migrate HAML and Ruby instances of alerts to match the GlAlert component](https://gitlab.com/groups/gitlab-org/-/epics/5213) | 
            | Documentation | Writing | [Contributing to documentation](https://about.gitlab.com/community/contribute/documentation/) | [Qualifying issues](https://gitlab.com/gitlab-org/gitlab/-/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name%5B%5D=good%20for%20new%20contributors&label_name%5B%5D=Accepting%20merge%20requests&label_name%5B%5D=documentation) |
          
            To get started:

            1. Block the dates on your calendar!
            1. If you have decided to work on an issue, it helps if you leave a comment. That way it's less likely for multiple people to be working on the same issue.
            1. [Join the sessions](#sessions) to find more about the hackathon or watch the recording that will be posted aftewards.
            1. In case you don't want to work on the issues described above: 
              <br>- An easy way to get started for first timers is contributing to documentation. Check out the curated [documentation issues which are welcoming contributions](https://about.gitlab.com/community/contribute/documentation/).
              <br>- To get started with code, check out the curated list of [issues to contribute to](https://about.gitlab.com/community/contribute/development/), based on the project you are interested in contributing to.
              <br>- Check out the [Contribute page](https://about.gitlab.com/contributing/) for additional ways of contributing.            
            1. Share the MRs you are working on, get help or help others. [Join the party at the contributors channel](#getting-help).
            

            <p class="alert alert-gitlab-purple text-center"> 
            <span class="h3" id="hackathonMRCount"> 
            <i class="fas fa-spinner fa-spin fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i> 
            </span> 
            </p>  
            
            
      .block
        .block-content
          %h2#contribute-for-prize.block-title
            %a{ href: '#prize' } Hackathon Prizes

          %p
          :markdown
            We are excited to offer the following categories of prizes for this Hackathon:
            
          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            All qualifying MRs must be submitted on June 2nd & 3rd in your local timezone and be <em>merged</em> by
            <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210702T23&p1=%3A">July 2nd at 23:00 UTC</a>.
            </p>
            

            | Categories | Eligibility | Prizes  | Description  |
            |------------|-------------|---------|--------------|
            | Grand Prize | Individual(s) with the most points gathered | ![Grand prize](/images/community/hackathon/GitLab_Shop.png) | A Hackathon special swag box |
            | Second Place | Individual(s) with the most points gathered | ![Second prize](/images/community/hackathon/2ndprize.png) | Duffle Bag, GitLab socks, a charging multi port cable , collapsible straw |
            | Merged MR | Everyone with an MR merged | ![Merged MRs](/images/community/hackathon/participation-prize.png) | GitLab socks and a charging multi port cable  | 

          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            All qualifying MRs must be submitted on June 2nd & 3rd in your local timezone and be <em>merged</em> by
            <a href="https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210702T23&p1=%3A">July 2nd at 23:00 UTC</a>.
            </p>

      .block
        .block-content
          %h2#sessions.block-title
            %a{ href: '#sessions' } Hackathon Tutorial office hour sessions
          :markdown
            Tutorial sessions during the Hackathon help you get kickstarted with contributing and to learn more about GitLab development. More sessions/speakers may be added as they are confirmed.

          %p

          %table.table
            %thead
              %tr
                %th
                  Date
                %th
                  Time in
                  = link_to "UTC", "https://en.wikipedia.org/wiki/Coordinated_Universal_Time"
                  %br
                  (click for local time)
                %th
                  Topic
                %th
                  Session
                %th
                  Speakers

            %tbody
              %tr
                %td
                  June 1st
                %td
                  = link_to "12:00 - 12:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210602T12&p1=1440&am=30"
                %td
                  Hackathon Kickoff - Learn all about our new Hackathon format, and get ready to start contributing
                %td
                  <iframe src="https://www.youtube.com/embed/OGtGaqEVlDc" frameborder="0" allowfullscreen="true"> </iframe>
                %td
                  = link_to "Christos Bacharakis (@cbacharakis)", "https://gitlab.com/cbacharakis"
                  
              %tr
                %td
                  June 4nd
                %td
                  = link_to "12:00 - 12:30", "https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210604T12&p1=1440&am=30"
                %td
                  Hackathon Wrap-up call - The Hackathon is over, what's next?!
                %td
                  = link_to "Zoom link", "https://gitlab.zoom.us/j/93899685865"
                %td
                  = link_to "Christos Bacharakis (@cbacharakis)", "https://gitlab.com/cbacharakis"
                  
          %p
          :markdown
            <p class="alert alert-info">
            <i class="fas fa-info-circle" aria-hidden="true" style="color: rgb(49, 112, 143);"></i>
            If you miss any of the sessions, you will find the recordings in the
            <a href="https://www.youtube.com/playlist?list=PLFGfElNsQthapq-CyXBTVnT2yKqg1JrNh">Hackathon Playlist</a>.
            </p>

          %h3#getting-help.block-title
            %a{ href: '#getting-help' } Getting help
          %p
          :markdown
            For communications during the Hackathon, we will use the GitLab Contributors room in Gitter. This is a channel for community-related discussions and for community members to help each other as people have questions when contributing to GitLab.

            It's open to everyone, so please [join us at the Contributors Gitter room](https://gitter.im/gitlabhq/contributors)!

      .block
        .block-content
          %h2#past-events.block-title
            %a{ href: '#past-events' } Past events

          %p
            To learn more about previous Hackathon events, visit the
            %a{href: "https://about.gitlab.com/community/hackathon/past-events/"} past GitLab Hackathons page.

      .block
        .block-content
          #hackathon-q-a.animated
            %h2#faq.block-title
              %a{ href: '#faq' } Frequently Asked Questions
            .faq-holder.clearfix
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      Which GitLab projects qualify for the Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        While we generally encourage contribution to the [GitLab](https://gitlab.com/gitlab-org/gitlab) project, MRs for any project under the
                        [`gitlab-org` group](https://gitlab.com/gitlab-org), [Meltano](https://gitlab.com/meltano/meltano), and [www-gitlab-com](https://gitlab.com/gitlab-com/www-gitlab-com) qualify for the Hackathon. If you are in doubt about a project which is not on this list, please do ask us on the [Contributors Gitter channel](https://gitter.im/gitlabhq/contributors).

              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      What are the key dates for the current Hackathon?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        - June 2nd & 3rd (in your local timezone): all MRs must be submitted
                        - [June 2nd 06:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Hackathon+kickoff&iso=20210602T06&p1=1440&am=45): Hackathon kickoff session
                        - [June 3rd 22:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?msg=Hackathon+wrap-up&iso=20210603T22&p1=1440&am=30): Hackathon wrap-up session
                        - [July 2nd 23:00 UTC](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20210702T23&p1=%3A): all qualifying MRs must have been _merged_
              %ol.faq-container.list-unstyled
                %li.faq-item
                  .faq-inner-item
                    %a.faq-question.js-faq-question
                      My Merge Request has been merged. What's next?
                      %i.fa.fa-angle-down.pull-right
                    .faq-answer
                      :markdown
                        After the 2nd of July, the team will review all the qualifying MRs merged and reach out to contributors. Please expect an email by the 17th of July.
